[submodule "zsh-syntax-highlighting"]
	path = zsh/plugin/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	ignore = dirty

[submodule "powerlevel9k"]
	path = zsh/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
	ignore = dirty